# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/
tempCodeRunnerFile.py

# Environment Variables
.env

# Project Data & User Files
notes/
data/
pdf/
*.log
